

* {
	box-sizing: border-box;
}


header {
    background:#125350;
    color:white;
    margin: 0 auto;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    width: 100%;
   
  }
  
  fieldset {
    border: none;
   
  }

  .user-info {
    display: flex;
    flex-direction: column;
  }
 .container {
   max-width: 600px;
   width: 100%;
   margin: auto;
   background: lightblue;
   
 }
 
  body {
    margin: 0 auto;
    background: rgb(202, 202, 202);
   
  }

  h2 {
    text-align: center;
  }
  



  textarea {
    width: 100%;
  }
  button {
    width: 100%;
  }


  input [zip]{
    width: 30%;
  }




  



/* Footer */

  footer {
    text-align: center;
}








@media (min-width: 768px) {

  .user-info {
   display: flex;
   flex-direction: row;
  }

  .first-form label {
    flex-basis: 30%;
  }

  .first-form input {
    flex-basis: 70%;
  }